* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Grape Nuts'
    monospace;
}

h2, h3  {
  padding: 0 20px;
}

.post-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-form-elem {
  max-width: 500px;
  min-width: 375px;
  margin: 5px 0;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-form-elem {
  max-width: 700px;
  min-width: 375px;
  flex-grow: 1;
  margin: 5px 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar {
  margin: 0 20px;
}
